div#cs-debug_box {
  height: 6em;
  background: #333;
  border-radius: 3px;
  overflow-y: auto;
  color: #4fda4f;
  padding: 10px;
  font-size: 11px;
  font-family: sans-serif;
  margin: 10px;
  border: 5px solid #333;
}

div#cs-debug_box span {
  display: block;
}

#skill_input_template {
  display: none;
}

.cs.dnd5e.sheet.actor.character.dnd5e ul.skills-list.custom-skills,
.cs.dnd5e.sheet.actor.character.tidy5e ul.skills-list.custom-skills,
.cs.dnd5e.sheet.actor.dnd5e .ability-scores.custom-abilities,
.cs.dnd5e.sheet.actor.tidy5e .ability-scores.custom-abilities {
  height: 100%;
  overflow: auto;
}



.cs.dnd5e.sheet.actor .custom-abilities .ability {
  min-width: 100%;
}

.cs.dnd5e.sheet.actor.cb5es .custom-abilities .ability,
.cs.dnd5e.sheet.actor.dndbcs .custom-abilities .ability {
  min-width: auto;
}

.cs.dnd5e.sheet.actor .custom-abilities .ability>h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cs.tidy5e.sheet.actor .ability-scores .ability {
  padding: 5px 10px;
}

.cs.tidy5e.sheet.actor .ability-scores .ability .ability-modifiers.value-footer {
  position: static;
}

.cs.tidy5e.sheet.actor .ability-scores .ability .ability-modifiers .ability-proficiency {
  position: absolute;
  top: 0;
  left: -10px;
  bottom: auto;
}

.cs.tidy5e.sheet.actor .ability-scores .ability .ability-modifiers .config-button {
  position: absolute;
  top: 0;
  right: -10px;
  bottom: auto;
}

.cs.tidy5e.sheet.actor .ability-scores,
.cs.tidy5e.sheet.actor .ability-scores.custom-abilities {
  flex-wrap: wrap;
}

.cs.tidy5e.sheet.actor .ability-scores.custom-abilities .ability {
  margin-bottom: 0.7em;
}

.dnd5e-custom-skills input[type="text"][readonly],
.dnd5e-custom-skills select[readonly] {
  opacity: 0.7;
  box-shadow: 0 0 0;
  cursor: not-allowed;
}

.dnd5e-custom-skills input[type="number"] {
  width: 2em;
  text-align: center;
  margin-left: 1em;
}

.dnd5e-custom-skills .skill_element,
.dnd5e-custom-skills .ability_element {
  padding: 3px;
}

.dnd5e-custom-skills .skill_element .skill_apply,
.dnd5e-custom-skills .ability_element .ability_apply {
  text-align: center;
}

.dnd5e-custom-skills .skill_element:nth-child(even),
.dnd5e-custom-skills .ability_element:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}

form .form-group.hide-abilities>label,
form .form-group.hide-skills>label {
  flex-basis: 25%;
  cursor: pointer;
}

form .form-group.hide-abilities h3,
form .form-group.hide-skills h3 {
  flex-basis: 100%;
}

#skills-form .form-group.ability_element .ability_name {
  flex: 3.2;
}

#skills-form .form-group.skill_element .skill_name {
  flex: 2.1;
}

#skills-form .form-group.skill_element .skill_ability {
  flex: 1;
}

form .form-group.hide-abilities input,
form .form-group.hide-skills input {
  width: auto;
  height: auto;
  vertical-align: middle;
}

.sheet.actor .ability-scores .ability.disabled,
.sheet.actor.character ul.skills-list li.skill.disabled,
.sheet.actor.npc ul.skills-list li.skill.disabled {
  display: none;
}

#skills-form button.requireSave {
  background: orange;
}

/** dndbeyon sheet fix **/
/*
.cs.dnd5e.sheet.actor.dndbcs .abilities.flexrow {
  width: 100%;
  overflow: auto;
}

.cs.dnd5e.sheet.actor.dndbcs .ability-scores.custom-abilities {
  min-width: 100%;
  height: initial;
}

.cs.dnd5e.sheet.actor.character.dndbcs ul.skills-list.custom-skills {
  height: initial;
}


.cs.dndbcs.sheet.actor.character .flex-column.col1 {
  position: absolute;
  top: 410px;
  width: 220px;
  bottom: 5px;
  overflow: auto;
}

.cs.dndbcs.sheet.actor.character .sheet-body .flex-column.col5 {
  flex: 1;
  margin-top: 10px;
  height: 489px;
  margin-left: 220px;
}
*/